/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.button-link {
  text-decoration: none;
  margin: 0 10px; /* Adjust the margin as needed */
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container {
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  margin: 0 10px; /* Add margin to separate containers */
}

form {
  margin-bottom: 20px;
}

form > div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 18px);
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.Epara {
  font-style: italic;
}

.Elabel {
  display: block;
  margin-top: 10px;
}

/* Add spacing between tags */
form > div > div {
  margin-top: 5px;
}

/* Add spacing between span tags */
form > div > div > span {
  margin-right: 5px;
}